/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* get the local ttf fonts*/
@font-face {
  font-family: "NunitoSans";
  src: url(./fonts/NunitoSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url(./fonts/NunitoSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url(./fonts/NunitoSans-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: "NunitoSans";
  src: url(./fonts/NunitoSans-Light.ttf) format("truetype");
  font-weight: light;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "NunitoSans", sans-serif;
}
/*app container */
.app-container{
  display: flex;
  flex-direction: column;
}
/*navbar*/

.nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(96, 71, 235);
  color: white;
}

.nav__ul {
  display: flex;
}

.nav__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__ul__li {
  margin-left: 10px;
  padding: 5px;
}
.nav__ul__li__link{
  text-decoration: none;
  color: white;
  font-weight: 600;
}
/* forms */

.form {
  display: flex;  
  flex-direction: column;
}
.MyTextInput__container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 10px;
}
.MyTextInput__input{
  border: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  font-size: 1.2rem;
}

.MyTextInput__label{
  color:rgb(100, 100, 100)
}
.MyTextInput__error{
  color:rgb(219, 51, 51);
  font-size: small;
}

.MyTextInput__button{
  border:1px solid rgb(180, 180, 180);
  cursor: pointer;
  border-radius: 4px;
  width: 40px;
}

.MyTextInput__button:hover{
  background-color: rgb(170, 92, 92);
}
/* card */

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
  padding: 10px;
}
.card--dark{
  background-color: hsl(220, 50%, 70%);
}
.card--w60 {
  width: 60%;
}

/* button */
.button{
  background-color: hsl(260,60%,50%);
  border-radius: 10px;
  padding:10px;
  color: white;
  border-style: none;
}

.button--danger{
  background-color: hsl(20,60%,50%);
  font-weight: 700;
}

/* Login page */
.LoginPage__container{
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}